.container{
    background-color:rgb(2, 33, 33);
    height: 320px;
    width: 500px;
    margin-left: 400px;
    margin-top: 150px;
    border-radius: 20px;
}
label{
    margin-top: 20px;
    margin-left: 130px;
}
input{
    margin-top: 20px;
    margin-left: 40px;
    background-color: gray;
    color: white;
    border-radius: 5px;

}
h3{
    text-align: center;
    color: orange ;
}
button{
    background-color: rgb(226, 165, 51);
    padding: 10px;
    border-radius: 8px;
    margin-top: 25px;
   

}
#button1{
    margin-left: 130px;
}
#button2{
    margin-left: 20px;
}
footer{
   margin-left: 140px;
}
p{
    margin-top: 15px;
    margin-left: 130px;
}
*{
    color: white;
    font-family: 'Roboto Slab', serif;
}
#i1{
    margin-right:10px ;  
  }
  #i2{
      margin-right:10px;  
    }
    #i3{
      margin-right:10px;  
    }
    #i4{
      margin-right:10px;  
    }
